name: Python 3.9

on:
  - pull_request

permissions:
  contents: read
  checks: write

jobs:
  build:
    name: Python 3.9
    runs-on: ubuntu-latest
    env:
      SUBSTRATE_API_KEY: ${{ secrets.SUBSTRATE_API_KEY_SMOKE_TESTS }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install project
        run: cd tests/python-3-9 && poetry install --no-root

      - name: Run tests
        shell: bash -el {0}
        run: |
          cd tests/python-3-9 && poetry run pytest
